body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  position: relative;
  font-family: sans-serif;
}

.App {
  width: 76%;
  display: grid;
  grid-template-columns: 16% auto;
  margin: 5vh auto;
}

.loader {
  width: 200px;
  display: block;
  margin: auto;
}

.products {
  margin: 5px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 14px 10px;
}

.card-title {
  margin-top: 9px;
  margin-bottom: 3px;
  color: #196ead;;
  cursor: pointer;

}
.container ,.col-sm-4 {
border: 1px solid #ccc;

}
.price {
  margin-top: 0;
  margin-bottom: 8px;
}

.card-image {
  width: 248px;
  height: auto;
}
.add-to-cart {
  padding: 5px 10px;
  width: auto ;
  font-size: .8rem;
  color: black;
  cursor: pointer;
  background: hsl(44, 98%, 49%);
  border: 0;
  border-radius: 20px;
  transition: background 0.4s;
}

.add-to-cart:hover {
  background: #196ead;
}

.add-to-cart:focus {
  outline: none;
}



.checkout-btn {
  margin-top: 20px;
  width: auto;
  padding: 5px 10px;
  font-weight: bold;
  color: Black;
  background: #f58f09;
  font-size: .8rem;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.7s;
}

.checkout-btn:hover {
  background: midnightblue;
}

.item-title {
  color: darkgoldenrod;
  font-weight: bolder;
  font-size: 1.25rem;
 
}

.item-quantity {
  color: cadetblue;
}

.cart-item-price {
  color: #196ead;
  font-size: 1.4rem;
}


@media only screen and (max-width: 1000px) {
  .App {
    grid-template-columns: 100%;
  }

  
  .sort-list {
    margin: auto;
  }

  .products-nav h3 {
    margin: 10px auto;
  }

  .products-length {
    display: flex;
    justify-content: center;
  }

  
}